<%- include('../template/head')-%>
<body>
	<img src="<%= image_path %>" >	
	<p><button ><a href="/">Home</a></button></p>

	<p>Link: <a href="<%=image_path %>" target="_blank"> <%=image_path %> <a></p>
</body>
<%- include('../template/footer')-%>
